html,body {
  padding: 0px; 
  margin: 0px;
  width: 100%;
    height: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: #e2e9ef;
  background: url("../img/bg2.jpg") no-repeat center top fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
/*MENU*/
.header-topo{
  background: rgba(226, 233, 239, 0.9) ;
  text-shadow: 1px 1px 1px white;
 }
.login-container{
  background: rgba(226, 233, 239, 0.9) ;
  max-width: 960px;
  padding-top: 10px; 
  margin: 5% auto;
  border-radius: 4px;
  box-shadow: 5px 10px 18px #888888;
}
.h1Diff{
  padding-top: 50px; 
   color: #365572;
   text-shadow: 2px 2px 2px #abbfca; 
   font-size: 80px; 
   text-align: center;
   text-transform: uppercase;
}

.login-container h1{
  text-align: center;
}
.h1-logo{
  padding: 0px;
   margin: 0px ;   
   color: #365572;
   text-shadow: 2px 2px 2px #abbfca; 
   font-size: 40px; 
   text-align: center;
   text-transform: uppercase;
}

.main {
    margin: 0 auto;
    background: rgb(54, 85, 114,0.4);
    border-radius: 20px;
    max-width: 71%;
    padding-bottom: 5px;


  }

  .main-index{
    background: rgb(54, 85, 114,0.8);
    min-height: 905px;
  }

.div-get-started > h1.ui.inverted.header{
  color: #e2e9ef;
  text-shadow: 2px 2px 2px black; 
  font-size: 50px;
  text-transform: uppercase;
  padding-top: 300px;
}

.centralizado{
  text-align: center;
}

.footer {
  height: 80px ; 
  background: rgba(226, 233, 239, 0.5) ;
  color: white;
  padding: 10px;
  margin-top: 169px;
}

.footer >p{
  margin-top: 20px ;   
  color: #365572;
  text-shadow: 2px 2px 2px #abbfca; 
  font-size: 20px; 
  text-transform: uppercase;
}

.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  
}



@media all and (min-width: 600px) {

}

@media all and (min-width: 800px) {

}

