html,body {
  padding: 0px; 
  margin: 0px;
  background-image: url("img/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.header-topo{
  flex: 1 100%;
  padding: 10px;
  background: rgba(245, 244, 255, 0.8) ;
  color: white;
  text-shadow: 2px 2px 2px black;
 }

.nav{
  flex: 1 100%;
  margin: 0px 50px;
 }

 .item active {
   color: white;
 }

  
  .aside-esq{
    margin: 0px 10px;
  }

.main {
  margin: 0px 20px;
    background: WHITE;
    border-radius: 20px;
    margin-top: 0px;
  }

  .cards{
    padding: 10px;
    justify-content: center;
}


section {
  background-color: red;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}
.section-cards{
  display: flex;
  flex-direction: row;
  margin: 10px;
  width: 30%;
  height: 30%;
  flex-wrap: wrap;
  /*justify-content: space-around;*/
}


article {
  background-color: white;
  margin-top: 5px;
  padding: 10px 15px;
}  


.footer {
  background: white;
  color: white;
  flex: 1 100%;
  padding: 10px;
  margin-top: 100px;
 /* align-items: flex-end;*/
}




@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
 
  .footer  { order: 4; }
}

